<!---
    SPDX-FileCopyrightText: 2025 Jomco B.V
    SPDX-FileContributor: Joost Diepenmaat <joost@jomco.nl>
    SPDX-FileContributor: Remco van 't Veer <remco@jomco.nl>

    SPDX-License-Identifier: MIT
-->
<!---
    Configure logging to console. We assume that the application runs
    in some environment that takes care of managing the logs.
-->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc%n</pattern>
    </encoder>
  </appender>

  <root level="${ROOT_LOG_LEVEL:-info}">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="dil-demo" level="${LOG_LEVEL:-${ROOT_LOG_LEVEL}}"/>
  <logger name="org.bdinetwork" level="${LOG_LEVEL:-${ROOT_LOG_LEVEL}}"/>
</configuration>
